{
    layer4 {
        0.0.0.0:6443 {
            @secure tls
            route @secure {
                proxy {$KUBERNETES_PORT_443_TCP_ADDR}:{$KUBERNETES_PORT_443_TCP_PORT}
            } 
        }
    }
}

{$DOMAIN}:443 {
  log {
    level INFO
    output file /tmp/caddy.log {
      roll_size 10MB
      roll_keep 10
    }
  }

  tls {
      dns cloudflare {$CLOUDFLARE_API_TOKEN}
  }

  encode zstd gzip

  header / {
  	# Enable HTTP Strict Transport Security (HSTS)
  	Strict-Transport-Security "max-age=31536000;"
  	# Disable cross-site filter (XSS)
  	X-XSS-Protection "0"
  	# Disallow the site to be rendered within a frame (clickjacking protection)
  	X-Frame-Options "DENY"
  	# Prevent search engines from indexing (optional)
  	X-Robots-Tag "noindex, nofollow"
  	# Disallow sniffing of X-Content-Type-Options
  	X-Content-Type-Options "nosniff"
  	# Server name removing
  	-Server
  	# Remove X-Powered-By though this shouldn't be an issue, better opsec to remove
  	-X-Powered-By
  	# Remove Last-Modified because etag is the same and is as effective
  	-Last-Modified
  }

  # Proxy everything to Rocket
  reverse_proxy 127.0.0.1:8080 {
       # Send the true remote IP to Rocket, so that Vaultwarden can put this in the
       # log, so that fail2ban can ban the correct IP.
       header_up X-Real-IP {remote_host}
  }
}